.browser-states:first-child 
                margin-top: 0

.browser-states 
    display: flex
    justify-content: space-between
    align-items: center
    margin: 1rem 0
    h6
        margin: 0
        font-size: 1.1rem
        padding-left: 1rem
    ._center
            display: flex
            align-items: center
            ._text-body
                padding-right: 0.6rem

